
[hub]
protocol = https

[core]
	excludesfile = /opt/boxen/config/git/gitignore
	autocrlf = input

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[user]
	name = Toby Griffiths
	email = toby@cubicmushroom.co.uk
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.2.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
